<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p> This app is created by suliah brilla, with data from open weather maps</p>
        <img src="/img/suliah.jpg" alt="My Picture">
    </div>

    {{>footer}}
</body>

</html>